{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="" href="{{ asset('assets/css/style.css')}}">
    <link rel="stylesheet" type="" href="{{ asset('assets/css/user.css')}}">
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Navbar:NameDashboard')) }}
    <div class="col-xs-10 contenu contenudash">

        {% block app_body %}

        {% endblock %}
    </div>

{% endblock %}