{% extends "AppBundle::layout.html.twig" %} 

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/component.css')}}">
{% endblock %}

{% block title %} 
    Component - {{ parent() }} 
{% endblock %} 

{% block app_body %}

<div id="component">

<!-- Component sidebar display -->
{% include 'AppBundle:App:componentSidebar.html.twig' %}

<!-- Component form display -->
<div class="col-xs-9 sidebar" id="main_component">
    <div class="row">
        <h1>{{ mainTitle }}</h1>
    </div>

    <div class="row">
        {# TODO: Form temporaire, à changer pour l'adapter à Docrtine et Symfony #}
        <form class="form-horizontal">
            <div class="form-group">
                <label for="component_name" class="col-xs-3 control-label">Component name:</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="component_name" value="{{ componentName }}">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-default">Execute</button>
                </div>
            </div>
            <div class="col-xs-12">
                <textarea class="form-control" rows="4" placeholder="SQL Request"></textarea>
            </div>
        </form>
    </div>

    <!-- Charts choise -->
    <div class="row">
        <ul class="charts_choise">
            <li><i class="fa fa-line-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-pie-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-area-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-bar-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-usd" aria-hidden="true"></i></li>
        </ul>
    </div>

    <!-- Charts Display -->
    <div class="row charts">
        <div class="col-xs-12" id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>

    <!-- Confirm button -->
    <div class="row button">
        <div class="col-xs-3 col-xs-offset-9">
            <div class="btn-group" role="group" aria-label="...">
                <a href="" class="btn btn-default">Submit</a>
                <a href="" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
