{% extends "AppBundle::layout.html.twig" %} 

{% block title %} 
    Component - {{ parent() }} 
{% endblock %} 

{% block app_body %}

<div class="col-xs-10">
    <div class="row">
        <div class="col-xs-2 sidebar">
            {# TODO: générer la liste de façon automatique #}
            <h3>My database</h3>

            <ul>
                <li>Table 1</li>
                <ul>
                    <li>Field 1</li>
                    <li>Field 2</li>
                    <li>Field 3</li>
                </ul>
                <li>Table 2</li>
                <ul>
                    <li>Field 1</li>
                    <li>Field 2</li>
                    <li>Field 3</li>
                </ul>
                <li>Table 3</li>
                <ul>
                    <li>Field 1</li>
                    <li>Field 2</li>
                    <li>Field 3</li>
                </ul>
            </ul>

        </div>

        <div class="col-xs-8 sidebar">
            <div class="row">
                {# TODO: Modifier le form pour l'adapter à Docrtine et Symfony #}
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="component_name" class="col-xs-2 control-label">Name :</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="component_name" placeholder="Component name">
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-default">Execute</button>
                        </div>
                        <div class="col-xs-8">
                            <textarea class="form-control" rows="4" placeholder="SQL Request"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <ul>
                    <li><i class="fa fa-line-chart" aria-hidden="true"></i></li>
                    <li><i class="fa fa-pie-chart" aria-hidden="true"></i></li>
                    <li><i class="fa fa-area-chart" aria-hidden="true"></i></li>
                    <li><i class="fa fa-bar-chart" aria-hidden="true"></i></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-8" id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-xs-offset-5">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="" class="btn btn-default">Submit</a>
                        <a href="" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/vendor/fontawesome/css/font-awesome.min.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
