{% extends "AppBundle::layout.html.twig" %} 

{% block title %} 
    Component - {{ parent() }} 
{% endblock %} 

{% block app_body %}

<div id="component">

<div class="col-xs-3 sidebar">
    <h2>My database</h2>

    <!-- Database display
    TODO: générer la liste de façon automatique -->
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading tableList">
                <h4><a data-toggle="collapse" href="#collapse1">Table 1</a></h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group" >
                    <li class="list-group-item">Field 1</li>
                    <li class="list-group-item">Field 2</li>
                    <li class="list-group-item">Field 3</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading tableList">
                <h4><a data-toggle="collapse" href="#collapse2">Table 2</a></h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group" >
                    <li class="list-group-item">Field 1</li>
                    <li class="list-group-item">Field 2</li>
                    <li class="list-group-item">Field 3</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading tableList">
                <h4><a data-toggle="collapse" href="#collapse3">Table 3</a></h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group" >
                    <li class="list-group-item">Field 1</li>
                    <li class="list-group-item">Field 2</li>
                    <li class="list-group-item">Field 3</li>
                </ul>
            </div>
        </div>
    </div>


</div>

<!-- Component form display -->
<div class="col-xs-9 sidebar" id="main_component">
    <div class="row">
        <h1>{{ mainTitle }}</h1>
    </div>

    <div class="row">
        {# TODO: Form temporaire, à changer pour l'adapter à Docrtine et Symfony #}
        <form class="form-horizontal">
            <div class="form-group">
                <label for="component_name" class="col-xs-3 control-label">Component name:</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="component_name" value="{{ componentName }}">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-default">Execute</button>
                </div>
            </div>
            <div class="col-xs-12">
                <textarea class="form-control" rows="4" placeholder="SQL Request"></textarea>
            </div>
        </form>
    </div>

    <!-- Charts choise -->
    <div class="row">
        <ul class="charts_choise">
            <li><i class="fa fa-line-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-pie-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-area-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-bar-chart" aria-hidden="true"></i></li>
            <li><i class="fa fa-usd" aria-hidden="true"></i></li>
        </ul>
    </div>

    <!-- Charts Display -->
    <div class="row charts">
        <div class="col-xs-12" id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>

    <!-- Confirm button -->
    <div class="row button">
        <div class="col-xs-3 col-xs-offset-9">
            <div class="btn-group" role="group" aria-label="...">
                <a href="" class="btn btn-default">Submit</a>
                <a href="" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/component.css')}}">
    <link rel="stylesheet" href="{{asset('assets/vendor/fontawesome/css/font-awesome.min.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
