{% extends 'AppBundle::layout.html.twig' %}

{% block meta %}
{{ parent() }}
<meta http-equiv="refresh" content="3000">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}"/>
{% endblock %}

{% block title %} Dashboard-{{ parent () }} {% endblock %}
{% block app_body %}

<!-- Dashboard content -->
<div class="container-fluid">
    <div class="col-xs-12">
    <!-- If the creator of the dashboard is not the current user, remove options menu, add leave dashboard menu -->
    {% if dashboard.getCreator().id != userId %}
    <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
                <h2 class="text-center">{{ dashboard.name }}</h2>
            </div>
            <div class="col-xs-3">
        <button type="button" class="btn btn-default dropdown-toggle btn-lg float_right buttonTop"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog changeColor" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu menu_pos float_right">
                {% if dashboard.getCollaborator().contains(user) %}
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#leavedashboard"><i class="fa fa-sign-out changeColor"
            aria-hidden="true"></i> Leave Dashboard</a>
                    </li>
                    {% endif %}

                </ul>
                </div>
        </div>
        <div class="row hidden">
        {% endif %}
        <div class="row ">
        <!-- ADD/PASTE Component menu -->
            <div class="btn-group col-xs-3">
                <button type="button" class="btn btn-default dropdown-toggle btn-lg buttonTop" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus-sign changeColor" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu menu_pos">
                    <li><a href="{{ path('app_add_component',{'dashboardId': dashboard.id}) }}"><span class="glyphicon glyphicon-plus changeColor" aria-hidden="true"></span> Add component</a>
                    </li>
                    <li><a href="{{ path('app_paste_component', {'id': dashboard.id}) }}"><span class="glyphicon glyphicon-paste changeColor" aria-hidden="true"></span> Paste component</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h2 class="text-center">{{ dashboard.name }}</h2>
            </div>
            <!-- Dashboard settings -->
            <div class="col-xs-3">
                <button type="button" class="btn btn-default dropdown-toggle btn-lg float_right buttonTop"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog changeColor" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu menu_pos float_right">
                    <li><a href="{{ path('app_share_dashboard', {'id': dashboard.id}) }}">
                            <span class="glyphicon glyphicon-export changeColor" aria-hidden="true"></span> Share</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModalHorizontal"><span
                                    class="glyphicon glyphicon-pencil changeColor" aria-hidden="true"></span> Edit</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#deletedashboard"><span
                                    class="glyphicon glyphicon-remove-sign changeColor" aria-hidden="true"></span> Delete</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if dashboard.getCreator().id != userId %}
        </div>
        {% endif %}

        <!-- Components container -->
        <div class="row">

            <!-- Show components in page with for -->
            {% for key, chart1 in allCharts %}
            {% if size[key] == "1" %}
            <div class="component col-xs-6" id="component{{ key }}">
                {% elseif size[key] == "2" %}
                <div class="component col-xs-9" id="component{{ key }}">
                    {% elseif size[key] == "3" %}
                    <div class="component col-xs-12" id="component{{ key }}">
                        {% endif %}

                        <div class="row">
                            <div class="col-xs-6 ">
                                <h4>{{ componentName[key] }}</h4>
                            </div>
                            {% if dashboard.getCreator().id == userId %}
                            <div class="col-xs-3 change_width">
                            <!-- Create form view for type graphic -->
                                {{ form_start(forms[componentId[key]],
                                {'attr': {'class': 'form-horizontal', 'role':'form', 'name': key}}) }}
                                {{ form_errors(forms[componentId[key]]) }}

                                <div class="dropdown">

                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Type
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>
                                            {{ form_widget(forms[componentId[key]].linechart, {'attr': {'class' : 'fa fa-line-chart compIcon formButton addPad'}, 'label' : ' Line'} ) }}
                                        </li>
                                        <li>
                                            {{ form_widget(forms[componentId[key]].area, {'attr': {'class' : 'fa fa-area-chart compIcon formButton addPad'}, 'label' : ' Area'} ) }}
                                        </li>
                                        <li>
                                            {{ form_widget(forms[componentId[key]].column, {'attr': {'class' : 'fa fa-bar-chart compIcon formButton addPad'}, 'label' : ' Column'} ) }}
                                        </li>
                                        <li>
                                            {{ form_widget(forms[componentId[key]].bar, {'attr': {'class' : 'fa fa-align-left compIcon formButton addPad'}, 'label' : ' Bar'} ) }}
                                        </li>
                                    </ul>

                                </div>

                                <!-- Hide unused component properties in the form -->
                                <div class="hidden">{{ form_widget(forms[componentId[key]].name, {'attr': {'class' : 'fa fa-usd  compIcon formButton'}, 'label' : ' '} ) }}
                                    {{ form_widget(forms[componentId[key]].xAxis, {'attr': {'class' : 'fa fa-usd  compIcon formButton'}, 'label' : ' '} ) }}
                                    {{ form_widget(forms[componentId[key]].yAxis, {'attr': {'class' : 'fa fa-usd compIcon formButton'}, 'label' : ' '} ) }}
                                    {{ form_widget(forms[componentId[key]].requestSQL, {'attr': {'class' : 'fa fa-usd compIcon formButton'}, 'label' : ' '} ) }}
                                    {{ form_widget(forms[componentId[key]].legend, {'attr': {'class' : 'fa fa-usd compIcon formButton'}, 'label' : ' '} ) }}
                                    {{ form_widget(forms[componentId[key]].Execute, {'attr': {'class' : 'fa fa-align-left compIcon formButton'}, 'label' : ' '} ) }}
                                </div>
                                {{ form_widget(forms[componentId[key]]._token) }}
                                {{ form_end(forms[componentId[key]]) }}

                            </div>
                                    {% endif %}
                            <div class="col-xs-3 change_width">
                            {% if dashboard.getCreator().id == userId %}
                                <!-- ComponentOptions dropdownMenu -->
                                <div class="dropdown">

                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Options
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('app_copy_component', {'id': dashboard.id, 'componentId': componentId[key],}) }}"><i class="fa fa-files-o compIcon" aria-hidden="true"></i>
                                         Copy</a></li>

                                        <li><a href="{{ path('app_dashboard', {'id':  dashboard.id}) }}"><i class="fa fa-refresh" aria-hidden="true"></i>
                                                Refresh</a></li>
                                        <li><a href="{{ path('app_delete_component', {'id': dashboard.id, 'componentId': componentId[key],}) }}"><i class="fa fa-files-o compIcon" aria-hidden="true"></i>
                                         Delete</a>
                                        <li>
                                            <a href="{{ path('app_edit_component', {'componentId' : componentId[key]}) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                Edit</a></li>
                                        <li class="show_menu"><a href="javascript:void(0)"><i class="fa fa-arrows-alt" aria-hidden="true"></i> Dimension</a>
                                            <!-- Component width -->
                                            <ul class="cascade_menu">
                                                <li>
                                                    <a href="{{ path('app_change_size', {'componentId': componentId[key], 'size':1, 'id' : id}) }}">
                                                        2/4</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_change_size', {'componentId': componentId[key], 'size':2, 'id' : id}) }}">
                                                        3/4</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_change_size', {'componentId': componentId[key], 'size':3, 'id' : id}) }}">
                                                        4/4</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>

                                </div>

                            {% else %}
                            <a href="{{ path('app_copy_component', {'id': dashboard.id, 'componentId': componentId[key],}) }}"><i class="fa fa-files-o compIcon" aria-hidden="true"></i>
                                         Copy</a>
                            {% endif %}
                            </div>
                        </div>
                        <div id="chart{{ key }}" style="min-width: 300px; height: 300px; margin: 0 auto">
                        </div>
                    </div>

                    <!-- Chart drawing -->

                    {% endfor %}
                </div>
                  <!-- Modal Leave Dashboard -->
                <div class="modal fade" id="leavedashboard" role="dialog">
                    <div class="modal-dialog">
                        <!-- Delete dashboard-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Leave Dashboard</h4>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to leave dashboard ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        onclick="window.location='{{ path('app_leave_dashboard',{'id': dashboard.id}) }}'">
                                    Yes
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal Delete Dashboard -->
                <div class="modal fade" id="deletedashboard" role="dialog">
                    <div class="modal-dialog">
                        <!-- Delete dashboard-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Dashboard</h4>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to delete the dashboard ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        onclick="window.location='{{ path('app_delete_dashboard',{'id': dashboard.id}) }}'">
                                    Yes
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {#</div>#}
                <!-- Modal editDashboard name  -->
                <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Edit Dashboard name
                                </h4>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                {{ form_start(form,{'attr': {'class': 'form-horizontal', 'role':'form'}}) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        {{ form_widget(form.name,  {'attr': {'class': 'form-control', 'value': dashboard.name}}) }}
                                        <div class="hidden">
                                         {{ form_widget(form.AddYourDashboard,  {'attr': {'class': 'form-control', 'value': dashboard.name}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <a href="{{ path('app_share_dashboard', {'id': dashboard.id}) }}"
                                           class="btn btn-default">Add/Remove
                                            viewers
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Close
                                </button>
                                {{ form_widget(form.UpdateName, {'attr': {'class':'btn btn-primary'}}) }}
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript">
                {% for key, chart1 in allCharts %}
                {{ chart(chart1) }}
                {% endfor %}
            </script>
            <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
            <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
{% endblock %}