{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}"/>
{% endblock %}

{% block title %} Share Dashboard {% endblock %}
{% block app_body %}


    <div class="col-xs-12 contenushare">
        <!-- Search bar -->
        <div class="row search_user">

            <div class="col-xs-3">
                <h4>Add users to dashboard</h4>
            </div>
            <div class="col-xs-6 col-xs-offset-6 input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="searchInput">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="search()">Go!</button>
      </span>
            </div>
        </div>
        <!-- Users table -->
        <form method="POST" action="{{ path('app_share_dashboard', {'id': dashboard.id}) }}">
            <table class="table table-striped text-center table_users">

                {% for user in users %}
                    <tr>
                        <td>
                            <!-- Share action -->
                            <input type="checkbox" class="checkbox-info"
                                   {% if dashboard.getCollaborator().contains(user) %}checked="checked"{% endif %}
                                   name="activeUsers[]" value="{{ user.id }}">

                        </td>
                        <td><i class="fa fa-user-o fa-2x" aria-hidden="true"></i></td>
                        <td>  {{ user.firstName }} </td>
                    </tr>

                {% endfor %}

            </table>
            <button class="btn btn-default"> Save</button>
        </form>
        <!-- Pagination -->
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Search user#}

    <script type="text/javascript">
        function search() {
            var searchInput = $('#searchInput').val();
            console.log(searchInput);
            window.location = '{{ path('app_share_dashboard',{'id': dashboard.id}) }}?search=' + searchInput;
        }
    </script>

    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
{% endblock %}
