<!-- SideBar  -->

<div id="sidebar" class="col-xs-2 sidebar">
    <div class="list-group">

        <h2>My Dashboard</h2>

        <h2>Share Dashboard</h2>


        <!-- Large modal -->
        <button type="button" class="btn btn-default btn-block  col-xs-2 createdashboard " data-toggle="modal" data-target=".bs-example-modal-lg" >Create Dashboard</button>
        <!-- PopUp - Modal Create Dashboard Button -->
        <div class="modal fade bs-example-modal-lg popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header well">
                        {{ form_start(form, {action:path('app_name_dashboard')}) }}
                        {#Les erreurs générales du formulaire.#}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {#Generate label.#}
                            {{ form_label(form.name, "Create a name Dashboard", {'label_attr': {'class':'col-sm3 control-label', 'value':''}}) }}
                            {{ form_widget(form.creator, {'attr': {'class': 'form-control'}}) }}
                            <div>
                                {#Generate input#}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div style="display: none">
                            {{ form_widget(form.UpdateName, {'attr': {'class':'btn btn-primary '}}) }}
                        </div>

                    </div>
                    {#Generate button#}
                    {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary ' }}) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>