{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{% if error %}#}
    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}

{#<form action="{{ path("fos_user_security_check") }}" method="post">#}
    {#{% if csrf_token %}#}
        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
    {#{% endif %}#}

    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    {#<input type="password" id="password" name="_password" required="required" />#}

    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
{#</form>#}

{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div>
    <div id="login"><img src="https://d1u6pxezg99bmw.cloudfront.net/images/logo/studeal_logo.png">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-0"></div>
                <div class="col-md-4">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label class="sr-only" for="username" >{{ 'security.login.username'|trans }}</label>Email
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        <br>
                        <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>Password
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                        <br>
                        <div class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </form>
                </div>
                <div class="col-md-4 col-xs-0"></div>
            </div>
        </div>
    </div>
</div>